{{! template-lint-disable }}
<div class="" style="display:inline-block;background:white;position:relative;z-index:26">

  <div style="margin: 0 0 0.2em 0"><p id="uploadWarning"></p></div>

<form method="post" enctype="multipart/form-data" action="." class="">
  <button id="uploadPics" style="cursor:pointer;background:#eee;display:none"
  type="submit" class="btn-std" {{action 'processQueue'}}>&nbsp;Ladda upp&nbsp;</button>

  <button id="removeAll" style="cursor:pointer;background:#eee;display:none"
  type="submit" class="btn-std" {{action 'removeAllFiles'}} title="...fr책n den h채r panelen">&nbsp;Ta bort allt&nbsp;</button>

  <button id="removeDup" style="cursor:pointer;background:#eee;display:none"
  type="submit" class="btn-std" {{action 'removeDupFiles'}} title="...fr책n den h채r panelen">&nbsp;Ta bort dubletter&nbsp;</button>
</form>

</div>

<p id="dzinfo">upload textinfo</p>
<p id="uploadFinished"></p>
<p class="dzclose" {{action 'closeThis'}}> &times; </p>

<!-- an empty <div> breaks the inline block sequence -->
<div></div>

{{yield}}
