{{! template-lint-disable }}

<script>
function copyToClipboard (str) {    // Copies a filename (below mini-pic) to the clipboard 
  const el = document.createElement('textarea');  // Create a <textarea> element
  document.body.appendChild(el);                  // Append the <textarea> element to the HTML document
  el.value = str.trim ();                         // Set its value to the string that you want copied
  el.setAttribute('readonly', '');                // Make it readonly to be tamper-proof
  el.style.position = 'absolute';
  el.style.left = '-9999px';                      // Move outside the screen to make it invisible
  const selected =
    document.getSelection().rangeCount > 0        // Check if there is any content selected previously
      ? document.getSelection().getRangeAt(0)     // Store selection if found
      : false;                                    // Mark as false to know no selection existed before
  // A found symlink (presented in picFound) has a 'useless' random name extension ...
  if ($ ("#imdbDir").text ().replace (/^[^/]*\//, "") === $ ("#picFound").text ()) {
    el.value = el.value.replace (/\.[^.]{4}$/, ""); // ... thus remove the extension!
  }
  el.select();                                    // Select the <textarea> content
  document.execCommand('copy');                   // Copy - only works as a result of a user action (e.g. click events)
  document.body.removeChild(el);                  // Remove the <textarea> element
  if (selected) {                                 // If a selection existed before copying
    document.getSelection().removeAllRanges();    // Unselect everything on the HTML document
    document.getSelection().addRange(selected);   // Restore the original selection
  }
}
</script>

<!-- ///// HEADER AND ALSO THE LOGIN AND SETTINGS BUTTON ///// -->
<div id="title" class="BACKG BLUET" draggable="false" ondragstart="return false">
  <form action="">
    <a class="proid" title="" onclick="window.scrollTo(0,0);$('iframe.intro').toggle();$('.mainMenu').hide();$('#searcharea').dialog('close')">Mish&nbsp;<small>introduktion</small></a>
    <a class="proid toggbkg" style="margin:0.5em 0 0 0" title="" {{action 'toggleBackg'}}><small>MÖRK/LJUS</small></a>
    <div style="display:inline-block;vertical-align:top;margin:0.4em 0 0 1em">
      <button type="submit" class="cred login" title="" {{action "logIn"}}>Logga in</button>
      <input type="text" class="cred user" size="10" title="Användare" placeholder="User name" value="">
      <input type="password" class="cred password" size="10" title="Lösenord" placeholder="Password">
      <span class="cred name"></span>
      <span class="cred status" {{action "toggleSettings"}}></span>
      <span id ="showDropbox" class="picLinker" style="margin:0 0 0 0.5em;display:none" {{action "showDropbox"}}>UPPLADDNING</span>
    </div>
    <div class="settings" draggable="false" ondragstart="return false" style="display:none">
      <div class="check">
        <div>
          <span>
            Dina rättigheter (<a onclick="$ ('#title button.viewSettings').click ()">se mer</a>):
            <button {{action 'toggleSettings'}}>×</button>
          </span>
          <div id="setAllow">
            Insert checkboxes here
          </div>
        </div>
        <button class="confirm" {{action 'setAllow' true}}>Bekräfta</button>
        <button {{action 'toggleSettings'}}>Stäng</button>
      </div>
    </div>
    <!-- Settings button, not visible but used -->
    <div style="display: none">
      <button type="submit" class="viewSettings" title="" {{action "infStatus"}}>settings</button>
    </div>
  </form>
  <div style="display:inline-block;white-space:nowrap;margin-top:0.4em">

    <!-- Get webblink to non-hidden pictures -->
    <div style="display:inline-block;margin-left:1em" totip="Direktlänk till aktuell bild">
      <span class="picLinker" style="margin:0.5em 0 0 0" {{action "webLinker"}}>WEBBLÄNK</span>
    </div>
    <!-- Show web statistics -->
    <div id="viSt" style="display:inline-block;margin-left:0.4em" totip="Besöksstatistik i ett nytt fönster">
      <span class="picLinker" draggable="false" {{action 'visitStat'}}>AWSTATS</span>
    </div>
    <!-- Erase link+source choice -->
    <div style="display:inline-block">&nbsp;
      <span class="eraseCheck" style="display:none" totip="Markera här (MEN BARA OM DU FÖRSTÅR VAD DU SKA GÖRA!) ifall du vill radera även ORIGINAL-bildfilen samtidigt med en LÄNKAD bild (bra för till exempel radering av funna dubletter)">
        RADERA ÄVEN LÄNKORIGINAL
        <input id="eraOrig" type="checkbox">
        <label for="eraOrig"></label>
      </span>
    </div>

  </div>
  <!-- TEST BUTTON -->
  <button class="testerButton" title="Dummy button" style="top:0;right:0;position:absolute" style="display:none" {{action "settest"}}>test</button>
  <br><span class="usrlg"></span><!-- User information log -->
</div>

<!-- ///// DROPBOX  CONTAINER ///// -->
<div id="divDropbox" class="hide-all">
  {{#drop-zone url='/upload' autoProcessQueue=false  acceptedFiles='image/jpeg,image/tiff,image/png,image/gif'}}
  {{/drop-zone}}
</div>

<!-- ///// JQUERY DIALOGS ///// -->
<div id="dialog" style="display:none">DIALOG</div>

<!--div id="helpText" style="display:none">BELOW</div-->

<div id="textareas" style="margin:0;padding:0">
  <div class="diaMess"><span class="edWarn"></span></div>
  <textarea name="description" rows="6" /><br>
  <textarea name="creator" rows="1" />
</div>

<div id="searcharea" style="margin:0;padding:0;display:none;width:">
  <div class="diaMess">
    <div class="edWarn" style="font-weight:normal;text-align:right" ></div>
    <div class="srchIn"> Sök i:&nbsp;
      <span class="glue">
        <input id="t1" type="checkbox" name="search1" value="description" checked />
        <label for="t1">&nbsp;bildtext (övre texten)</label>&nbsp;
      </span>
      <span class="glue">
        <input id="t2" type="checkbox" name="search2" value="creator" checked />
        <label for="t2">&nbsp;ursprung (nedre texten)</label>&nbsp;
      </span>
      <span class="glue">
        <input id="t3" type="checkbox" name="search3" value="source" />
        <label for="t3">&nbsp;anteckningar</label>&nbsp;
      </span>
      <span class="glue">
        <input id="t4" type="checkbox" name="search4" value="album" checked />
        <label for="t4">&nbsp;albumnamn</label>&nbsp;
      </span>
      <span class="glue">
        <input id="t5" type="checkbox" name="search5" value="name" checked />
        <label for="t5">&nbsp;bildnamn</label>
      </span>
    </div>
    <div class="orAnd">Om blank ska sökas: skriv % (åtskiljer ej) &nbsp; &nbsp;
      <b style="font-size:75%">
        <a href="findhelp.html" target="find_help" style="font-family: Arial, Helvetica, sans-serif">SÖKHJÄLP</a>
      </b><br>Välj regel för åtskilda ord/textbitar/sökbegrepp:<br>
      <span class="glue">
        <input id="r1" type="radio" name="searchmode" value="AND" checked />
        <label for="r1">&nbsp;alla&nbsp;ska&nbsp;hittas&nbsp;i&nbsp;en&nbsp;bild</label>
      </span>&nbsp;
      <span class="glue">
        <input id="r2" type="radio" name="searchmode" value="OR" />
        <label for="r2">&nbsp;minst&nbsp;ett&nbsp;av&nbsp;dem&nbsp;ska&nbsp;hittas&nbsp;i&nbsp;en&nbsp;bild</label>
      </span>
    </div>
    <span class="srchMsg"></span>
  </div>
  <textarea name="searchtext" placeholder="(minst tre tecken utöver omgivande blanka)" rows="4" style="min-width:" />
</div>

<!-- ///// PARAMETER STORE ///// -->
<div id="allowValue" title="permissions" style="display:none"></div>
<div id="backImg" style="display:none"></div>
<div id="bkgrColor" style="display:none">rgb(59, 59, 59)</div>
<div id="chkPaths" style="display:none" title="for update SQlite DB"></div>
<div id="hideColor" style="display:none">rgb(92, 98, 102)</div>
<div id="hideFlag" style="display:none" title="do'nt show 'hidden'pictures">1</div>
<div id="hideNames" style="display:none" title="hide picture names">1</div>
<div id="imdbCoco" title="albums content counts" style="display:none"></div>
<div id="imdbDir" title="path to album" style="display:none"></div>
<div id="imdbDirs" title="paths to albums" style="display:none"></div>
<div id="imdbIntro" title="introduction info" style="display:none"></div>
<div id="imdbLabels" title="paths to album labels" style="display:none"></div>
<div id="imdbLink" title="link to find albums" style="display:none"></div>
<div id="imdbRoot" title="find albums here" style="display:none"></div>
<div id="imdbRoots" title="where to find albums" style="display:none"></div>
<div id="navAuto" title="on/off autoshow" style="display:none">false</div>
<div id="navKeys" title="turn off at other use" style="display:none">true</div>
<div id="picFound" title="album name for found pictures" style="display:none">Found_pictures</div>
<div id="picName" style="display:none"></div>
<div id="picNames" style="display:none"></div>
<div id="picOrder" title="picNames without random extension for move" style="display:none"></div>
<div id="picOrig" style="display:none"></div>
<div id="showFactor" title="initial seconds/picture" style="display:none">2</div>
<div id="sortOrder" title="for imdDir's file order information table" style="display:none"></div>
<div id="stopSpin" style="display:none" title="spinner stop flag"></div>
<div id="temporary" style="display:none"></div>
<div id="temporary_1" style="display:none"></div>
<div id="topMargin" title="pixels above slide shown" style="display:none">18</div>
<div id="uploadNames" title="last uploaded" style="display:none"></div>
<div id="userDir" title="user's home or choice" style="display:none"></div>

<!-- ///// SPECIAL PLACEHOLDERS/LINKS (hidden) ///// -->
<button style="display:none;" id="albumEditOption" {{action 'albumEditOption'}}></button>
<!-- input style="display:none;" id="fileDialog" type="file" nwdirectory directory -->
<input style="display:none" id="requestDirs" onclick={{perform requestDirs}}>
<div class="shortMessage blackBorder" style="display:none">RT-log-message</div>
<a href="null" id="download" style="display:none" download>DOWNLOAD-AREA</a>

<div id="highUp" style=""></div>
<div id="highUpSpacer" style="margin-bottom:0.7em"></div>

<!-- ///// LINKS TO SUBALBUMS ///// -->
<p class='albumsHdr' draggable="false" ondragstart="return false">
  <div class="miniImgs">
    {{#each subaList as |suba|}}
      <div class="subAlbum" {{action 'subalbumSelect' suba.album}} style="display:none">
        <a class="imDir BLUET" style="background:transparent">
          {{#if suba.image}}
            <img src={{suba.image}}><br>
          {{/if}}
          <span>{{{suba.name}}}</span>
        </a>
      </div>
    {{else}}
    {{/each}}
  </div>
</p>

<!-- ///// RIGHT BUTTONS (NOTE: without href attributes) /////  -->
<div class="nav_links" draggable="false" ondragstart="return false">
  <a class="nav_" title="Stäng
[Esc]"{{action 'hideShow'}}>&times;</a> &nbsp;<br>
  <!-- NEXT-ARROW-BUTTONS -->
  <a class="nav_" draggable="false" ondragstart="return false" {{action 'showNext' true }} title="Nästa
bild [>]">&gt;</a> &nbsp;<br>
  <a class="nav_" draggable="false" ondragstart="return false" {{action 'showNext' false}} title="Föregående
bild [<]">&lt;</a> &nbsp;<br>
  <!-- AUTO-SLIDE-SHOW SELECT -->
  <a class="nav_ toggleAuto" draggable="false" ondragstart="return false" {{action 'toggleAuto'}} style="font-size:1.2em;font-family:monospace" title="Automatiskt
bildbyte [A]">AUTO</a><br>
  <!-- AUTO-SLIDE-SHOW SPEED SELECT -->
  <span class="nav_" id="showSpeed" draggable="false" ondragstart="return false">
    <input class="showTime" type="number" min="1" max="99" value="2" title="Välj tid > 0 s">s&nbsp;&nbsp;<br>
    <!-- CHOOSE AUTO-SHOW s/texline OR s/slide -->
    <a class="speedBase nav_" {{action 'speedBase'}} title="Välj per bild
eller bildtextrad">&nbsp;per<br>&nbsp;text-&nbsp;<br>&nbsp;rad</a>
  </span><br>
  <!-- HELP -->
  <a class="nav_ qnav_" draggable="false" {{action 'toggleNav'}}>?</a> &nbsp;<br>
  <!-- FULL SIZE -->
  <a class="nav_" id="full_size" draggable="false" {{action 'fullSize'}} title="Full storlek
i nytt fönster" style="font-size:200%;line-height:80%;padding:0.3em 0.33em 0.25em 0.3em">&#9974;</a> &nbsp; <br>
<a class="nav_ pnav_" id="do_print" title="Skriv ut" {{action 'doPrint'}} src="/images/printer.svg"> </a> &nbsp;
</div>

<!-- ///// DISPLAY THE (SLIDE) SHOW IMAGE ///// -->
<div class="img_show" style="display:none" draggable="false">
  <span class="imDir path BACKG">{{{albumName}}}</span>

  <div id="wrap_pad" class="BACKG" draggable="false">
    <span class="centerMark" style="width:auto;background:transparent;color:gray;text-align:center;padding-right:4.5em">×</span><br>

    <div id="wrap_show" draggable="false"><!-- IMAGE AND TEXT CONTAINER -->
      <tab style="background:transparent" draggable="false">
        <tr style="background:transparent" draggable="false">
          <td style="background:transparent" draggable="false">
            <div id="link_show" draggable="false">
              <img src="" draggable="false" ondragstart="return false"> <!-- Need both? -->

              <a style="top:-2.1em; left:0%; width:100%; border:0;" draggable="false" ondragstart="return false" {{action 'hideShow'}}><p>stäng <span style="font:normal 1em Arial!important">[esc]</span></p></a>

              <a style="top: 0%; left: 0%; width: 50%; height: 100%;" draggable="false" ondragstart="return false" {{action 'showNext' false}}><p>föregående<br><span style="font:normal 1em Arial!important">[&lt;]</span></p><br>&nbsp;<br>&nbsp;</a>

              <a style="top: 0%; left: 50%; width: 50%; height: 100%; border-left:0;" draggable="false" ondragstart="return false" {{action 'showNext' true}}><p>nästa<br><span style="font:normal 1em Arial!important">[&gt;]</span></p><br>&nbsp;<br>&nbsp;</a>

              <!--a style="bottom:-2.1em; right:40%; width:20%; border:0;" draggable="false" ondragstart="return false" {{action 'hideShow'}}><p>stäng <span style="font:normal 1em Arial!important">[esc]</span></p></a-->

              <div id="markShow" class="markFalseShow" alt="MARKSHOW" title="Markera" {{action 'toggleMark'}} draggable="false" ondragstart="return false"><img src="/images/markericon.svg" draggable="false" ondragstart="return false" class="mark"></div>

            </div>
            <div class="markDummy" style="background:transparent"></div>
            <!-- div.markDummy substitutes markShow which is moved up ^ -->
            <div class="img_name" title="Click = Copy!" totip="Click = Copy!" onclick="copyToClipboard(this.innerHTML)"></div>
            <div class="img_txt1" draggable="false" ondragstart="return false" {{action 'ediText'}}></div>
            <div class="img_txt2" draggable="false" ondragstart="return false" {{action 'ediText'}}></div>
          </td>
        </tr>
      </tab>
      <span id="pathOrig"></span>
    </div>

  </div>

</div>

<!-- ///// LEFT BUTTONS (NOTE: without href attributes) /////  -->
<div id="smallButtons" draggable="false" ondragstart="return false">
  <a id="menuButton" class="smBu" title="MENU" draggable="false" ondragstart="return false" {{action 'toggleMainMenu' imdbRoot}} style="width:1.25em">☰</a>

  <!-- ///// MAIN MENU, SELECT IMAGE ROOT DIRECTORIY, jstree ///// -->
  <div class="mainMenu BACKG" onclick="return false" draggable="false" ondragstart="return false" style="display:none">

    <p onclick="return false" draggable="false" ondragstart="return false">
      <a title="Sökning" class="search" {{action 'findText'}}>Finn bilder <span style="font:normal 1em monospace!important">[F]</span></a>
      <span> &nbsp; [F11]=fullskärm</span>
      <button class="dzclose" title="Close" {{action 'toggleMainMenu' imdbRoot}}>×</button>
    </p><br>

    <p onclick="return false" draggable="false" ondragstart="return false">
      <a class="">
        <select id="rootSel" title="Albumkatalog (albumrot)" onchange={{action 'selectRoot' value='target.value'}}>
          {{#each imdbRoots as |rootChoice|}}
            <option onclick="this.parentElement.blur()" value={{rootChoice}} selected={{eq imdbRoot rootChoice}}>{{rootChoice}}</option>
          {{/each}}
        </select>
      </a>
    </p><br>

    <p onclick="return false" draggable="false" ondragstart="return false" title="Favoritskötsel  ">
      <a id ="favorites" {{action 'seeFavorites'}}>Favoritbilder</a>
    </p><br>

    <p onclick="return false" draggable="false" ondragstart="return false">
      <a title="Ta bort, gör nytt, bildsortera ..." {{action 'albumEdit'}}>{{{albumText}}}</a> &nbsp; Valt album: {{{albumName}}}
    </p><br>

    <p onclick="return false" draggable="false" ondragstart="return false" title="Visa alla album = hela albumträdet">
      <a id ="jstreeHdr" {{action 'toggleJstreeAlbumSelect'}}>{{jstreeHdr}}</a>
    </p>

    <div class="jstreeAlbumSelect" style="display:none">
      {{ember-jstree
        data=albumData
        eventDidSelectNode=(action "selectAlbum")
      }}
    </div>
  </div>

  <!-- Start "home" page: the Information page-->
  <iframe class="intro" src="start.html" style="display:none"></iframe>
  <!--iframe class="jitsi" allow="camera; microphone; fullscreen; display-capture" src="" style="height:100%;width:90%;top:0;left:4%;border:0px;display:none"></iframe-->

  <!-- SMALLBUTTONS -->
  <a id="questionMark" class="smBu" title="Användarhandledning [F1]" draggable="false" ondragstart="return false" {{action 'toggleHelp'}}>?</a>
  <a id="reLd" class="smBu" title="Ladda om albumet
(återställ osparade ändringar)" draggable="false" ondragstart="return false" {{action 'refresh'}} src="/images/reload.png"></a>
  <a id="toggleName" class="smBu" title="Bildnamnen" draggable="false" ondragstart="return false" style="display:none" {{action 'toggleNameView'}}>N</a>
  <a id="toggleHide" class="smBu" title="Visa/dölj
gömda bilder" draggable="false" ondragstart="return false" style="display:none" {{action 'toggleHideFlagged'}}></a>
  <a id="saveOrder" class="smBu" title="Spara ändringar" draggable="false" ondragstart="return false" {{action 'saveOrder' true}}>S</a>
  <a id="do_mail" class="smBu" title="Fråga oss om något eller skicka
ett meddelande med kommentarer,
rättelser eller andra upplysningar" {{action 'doMail'}} src="/images/mail.svg"></a>
<a class="smBu" draggable="false" ondragstart="return false" title="Gå upp (visa
översta raden)" style="font:bold 190% sans-serif" {{action 'goTop'}}>↑</a>
  <a id="netMeeting" class="smBu" title="Mötesknapp:
Här träffas vi
på Internet (i ny
flik/nytt fönster).
Vänta ej inbjudan,
klicka bara här!" href="https://meet.jit.si/Minnenfr%C3%A5nS%C3%A4var%C3%A5dalenochHolm%C3%B6n" target="jitsi_window" draggable="false" ondragstart="return false" style="display:none;padding:0 0.25em 0.2em 0.15em;" onclick="$(this).hide()">▣</a>
</div>

<img src="/images/snurra.svg" class="spinner" draggable="false" ondragstart="return false" {{action 'hideSpinner'}} style="display:none">

<!-- ///// HELP TEXT JQUERY DIALOG ///// -->
<div id="helpText" style="display:none">
  <p style="text-align:left;margin-left:1.5em;margin-top:-1em;line-height:1.7em" draggable="false" ondragstart="return false"><br>
    <span style="font-size:0.95em"><b>Bilderna har högerklick-menyer</b> med kommandon/funktioner
    (i stället för <b>högerklick</b> kan du alltid använda <b>Ctrl + klick</b> i stället)<br>
    <b>Klicka med skifttangent på en miniatyrbild</b> så markeras/avmarkeras den<br>
    <b>Då du är inloggad som gäst</b> har du bara vissa rättigheter (gömma, markera och flytta miniatyrer med dra + släpp, gå till originalbild). Med personlig inloggning kan du få fler rättigheter (till exempel <b>klicka på bildtext</b> för att redigera den och spara ändringar).<br>
    <b style="color:#0b0">En bild med grön underkant är länkad</b> från annat album<br>
    <b style="color:#0b0">Gå till originalbilden</b> med klick på den gröna Till albumet...-länken</span></p>
  <p style="text-align:left;margin-left:1.5em;line-height:1.7em" draggable="false" ondragstart="return false">
    <b>Se först knapparna till vänster</b> (vilka som syns varierar):<br>
    <a id="albSel">☰</a> Huvudmeny: Välj album, sökning, albumöversikt<br>
    <a id="questionMark0">?</a> Visa/dölj den här användarhandledningen<br>
    <a id="reLd0" class="helpIcon"><img draggable="false" ondragstart="return false" src="/images/reload.png"></a> Ladda om albumet, återställ eventuella osparade ändringar¹³ (’ångerknapp’, men avser ej textändringar)<br>
    <a id="toggleName0">N</a> Visa/dölj namn på bilden (filnamn utan .filtyp)<br>
    <a id="toggleHide0"></a> Visa/dölj ’gömda bilder’ (gömda med bildens högerklick-meny)<br>
    <!--a id="upLoad0">U</a> Visa/dölj panelen för uppladdning av (fler) bilder<br -->
    <a id="saveOrder0" class="helpIcon">S</a> Spara bildändringar¹ som annars är tillfälliga och kan återställas²<br>
    <a id="do_mail0" class="helpIcon" src="/images/mail.svg"></a> Skicka fråga eller annat meddelande till albumadministratören<br>
    <a class="helpIcon">↑</a> Gå upp till överst på sidan</p>
  <p style="text-align:left;margin:-0.4em 0 0 3em;line-height:1.5em" draggable="false" ondragstart="return false">
    ¹ Ändringar: Dra-och-släpp-flyttning av miniatyrbilder, göm eller visa med högerklick<br>
    ² Undantag: Efter ’Placera först/sist’ görs ’Spara ändringar’ automatiskt<br>
    ³ Återställning kan också ibland förbättra ofullständig bildvisning</p>
  <p style="text-align:left;margin-left:1.5em;line-height:1.5em" draggable="false" ondragstart="return false">
    <b>Övriga knappar</b>: Utforska på egen hand! Och använd <b>Esc-tangenten</b> (se nedan)!</p>
  <p style="text-align:left;margin-left:1.5em;line-height:1.5em" draggable="false" ondragstart="return false">
    <b>Tangentbordet</b>:<br>
    <b>F1</b> visar/döljer den här användarhandledningen<br>
    <b>Ctrl</b>+<b class="large">+</b> och <b>Ctrl</b>+<b class="large">&minus;</b> ökar respektive minskar bildstorleken och <b>Ctrl</b>+<b class="large">0</b> återställer<br>
    <b>F11</b> används för att börja eller avbryta helskärmsvisning<br>
    <b>Högerpil-</b> eller <b>vänsterpiltangenten</b> växlar bild framåt eller bakåt<br>
    <b>A</b>-tangenten startar automatisk bildväxling &ndash; Esc-tangenten avbryter<br>
    <b>F</b>-tangenten öppnar ’Finn bilder’ (sökfönstret) &ndash; Esc-tangenten stänger det<br>
    <b>Esc</b> är avslutnings- och avbrottstangent för bildväxling, informationsfönster m.m.<br>
    <b>F5</b> eller <b>Ctrl</b>+<b>R</b> används för att börja om från början, till exempel om bildväxlingen kommit i oordning</p>
</div>

<!-- ///// HIDDEN BUTTONS clicked by JS  ///// -->
<p style="display:none">
  <!-- These are called from the context menu exclusively: -->
  <button id="downLoad" type="submit" class="show-inline btn-std" {{action 'downLoad'}}>Download...</button>
  <button id="deleteFile" type="submit" class="show-inline btn-std" {{action 'deleteFile'}}>DELETE</button>
  <button id="checkNames" {{action 'checkNames'}}></button>
</p>

<!-- ///// START OF MINI-LIST CONTAINER ///// -->
<div id="imageList" class="show-block" onclick={{perform rstBrdrs}}><!-- THUMBNAIL CONTAINER -->

<!-- ///// SHOW MINI IMAGES (thumbnails) ///// -->
<!-- Uses allNames from menu-buttons.js -->
<p class="showCount BACKG" draggable="false" ondragstart="return false">
  <span class="imDir path BACKG">{{{albumName}}}</span>
  <span class="imDir ifZero BACKG">
    <span class="imDir BACKG"> &mdash; </span>
    <span class="numShown BACKG" title="shown">0</span>&nbsp;visas,
    <span class="numHidden BACKG" title="invisible">0</span>&nbsp;dolda
    (<span class="numMarked BACKG" title="marked">0</span>&nbsp;markerade)
  </span>
</p><!-- MiniImages = links to slides -->
<div class="miniImgs">
  {{#sortable-objects sortableObjectList=allNames sortEndAction='sortEndAction' enableSort=true useSwap=false}}
    {{#each allNames as |file|}}
      {{#draggable-object content=file isSortable=true overrideClass='show-inline'}}
      <div id="i{{file.name}}" class="img_mini {{file.symlink}}" draggable="false" ondragstart="return false">
        <a draggable="false" ondragstart="return false">
        <!-- a {#{action 'showShow' file.show ... Instead: Click listener in 'setNavKeys'-->
          <img src="{{file.mini}}" class="left-click" title="{{file.linkto}}" draggable="false" ondragstart="return false">
        </a>
        <div id="" class="markFalse" alt="MARKER" title="Markera" {{action 'toggleMark' file.name}}  draggable="false" ondragstart="return false"><img src="/images/markericon.svg" draggable="false" ondragstart="return false" class="mark">
          <!-- The action of this button triggers a parent (!, marking) click: toggle it back! -->
          <button class="goAlbum" title="...med originalbilden" onclick="this.parentElement.click ()" {{action 'parAlb' file.name}}>Till albumet...</button>
        </div>
        <div class="img_name" title="Click = Copy!" totip="Click = Copy!" onclick="copyToClipboard(this.innerHTML)">
          {{file.name}}
        </div>
        <div class="img_txt1" draggable="false" ondragstart="return false" title="{{file.txt1}}" totip="{{file.txt1}}" {{action 'ediText' file.name}}>
          {{file.txt1}}
        </div>
        <div class="img_txt2" draggable="false" ondragstart="return false" title="{{file.txt2}}" totip="{{file.txt2}}" {{action 'ediText' file.name}}>
          {{file.txt2}}
        </div>
        {{#if (eq file allNames.lastObject)}}
          <script>
            document.getElementById ("stopSpin").innerHTML = "SPIN-END";
          </script>
        {{/if}}
      </div>
      {{/draggable-object}}
    {{else}}
      <div id="empty">
        <!-- nothing -->
      </div>
    {{/each}}
    <!--div style="display:none"></div-->
  {{/sortable-objects}}
</div>

<div id="lowDown"></div>

<p class="showCount BACKG" draggable="false" ondragstart="return false">
  <span class="imDir path BACKG">{{{albumName}}}</span>
  <span class="imDir BACKG"> &mdash; </span>
  <span class="numShown BACKG" title="shown">0</span>&nbsp;visas,
  <span class="numHidden BACKG" title="invisible">0</span>&nbsp;dolda
  (<span class="numMarked BACKG" title="marked">0</span>&nbsp;markerade)
  <br>
 <!-- Extra minimal subalbum list at bottom -->
  {{#each subaList as |suba|}}
  <a class="imDir BLUET" {{action 'subalbumSelect' suba.album}}>
    <span> {{{suba.name}}} &nbsp;</span>
    {{#if (eq suba subaList.lastObject)}}
      <script>
        document.getElementById ("stopSpin").innerHTML = "SPIN-END";
      </script>
    {{/if}}
  </a>
  {{else}}
  {{/each}}
</p>

</div>
<!-- ///// END OF DROPBOX AND MINI-LIST CONTAINER ///// -->

{{yield}}
